/** All the text **/

/* Declaring Variables */
/***** HOME PAGE *****/
#home-page { 
    /* Default font-family */
    font-family: 'Raleway', sans-serif;

    h2 {
        font-family: 'Nixie One', cursive;
        -webkit-background-clip: text;
        background-clip: text;
        font-size:2.5rem;
        color: #ff8c23;
    
        @include screensize-min-width ($not-mobile) {
            span {
                @include display-block;
            }
        }
    
        @include screensize (1000px){
            font-size: 2.5rem;
        }
        
        @include screensize ($mobile) {
            font-size: 3rem;
        }
    }
    
    p,label,a {
        color: var(--text-color);
    }
    
    p {
        line-height: 1.5rem;
        @include screensize ($mobile) {
            line-height: 2rem;
        }
    }    
}/***** END OF HOME PAGE *****/