/** All the text **/

/* Declaring Variables */
html {
    /* Default font-family */
    font-family: 'Raleway', sans-serif;

    /* Font-variable */
    --AC-logo-font: 'Parisienne', cursive;
    --header-font: 'Monoton', cursive;
}

h2 {
    font-family: var(--header-font);
    color:transparent;
    background-image:linear-gradient(to top, var(--heading-color-dark), var(--heading-color-light));
    -webkit-background-clip: text;
    font-size:calc(2.5vw + 0.5rem);
    @include screensize ($mobile) {
        font-size:calc(4vw + 0.5rem);
    }
}

p,label,a {
    color: var(--text-color);
}

p {
    line-height: 1.5rem;
    @include screensize ($mobile) {
        line-height: 2rem;
    }
}