<!DOCTYPE html> 
<html lang="en" id="home-page"> 
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <title>Anna Chowattanakul</title>
        <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Unica+One&family=Parisienne&family=Raleway:wght@300&family=Nixie+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/25f692c22b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZFME36D5C"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-WZFME36D5C');
        </script>
    </head> 

    <body> 
        <div class="loading-container">
            <div class="circle-wrapper">
                <div class="circle">L</div>
                <div class="circle">O</div>
                <div class="circle">A</div>
                <div class="circle">D</div>
            </div>
        </div>
        <header class="header-bg_v2">
            <div class="header-container">
                <h1 class="header--name_v2">Anna Chowattanakul</h1>
                <p class="header--description_v2">front-end developer | ui</p>
            </div>
            <img src="/assets/images/web_developer.svg" class="header-img" alt ="Girl on a computer">
        </header>
        <nav>
            <ul class="nav-items-container">
                <li><a class="nav-item" href="#about">About</a></li>
                <li><a class="nav-item" href="#projects">Projects</a></li>
                <li><a class="nav-item" href="#contact">Contact</a></li>
                <li><a class="nav-item" href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="place-holder"></div>

        <main class="wrapper"> 
            <section id="about">
                <div class="content-container">
                <div class="header-left">
                    <h2>About <span>Me</span></h2>
                </div>
                <div class="about-paragraph">
                    {# about me -- change content in index.njk #}
                    <p>
                        {{ content | safe }}
                    </p>
                </div>
                </div>
                <div class="download-container">
                    <a class="button" href="/assets/pdf/anna_resume_dev.pdf" target="_blank" alt="Download Resume">Download Resume</a>
                </div>
            </section>

            <section id="skills">
                <div class="content-container">
                    <div class="icon-container flex-item">
                        <div class="icon">
                            <i class="fab fa-github"></i>
                            <p>Github<p>
                        </div>
                        <div class="icon">
                            <i class="fab fa-css3-alt"></i>
                            <p>CSS<p>
                        </div>
                        <div class="icon">
                        <i class="fab fa-js"></i>
                            <p>Javascript<p>
                        </div>
                        <div class="icon">
                        <i class="fab fa-react"></i>
                            <p>React<p>
                        </div>
                        <div class="icon">
                        <i class="fab fa-bitbucket"></i>
                            <p>Bitbucket<p>
                        </div>
                        <div class="icon">
                        <i class="fab fa-html5"></i>
                            <p>HTML<p>
                        </div>
                        <div class="icon">
                        <i class="fab fa-salesforce"></i>
                            <p>Salesforce<p>
                        </div>
                        <div class="icon">
                        <i class="fab fa-sass"></i>
                            <p>SCSS<p>
                        </div>
                    </div>
                    <div class="header-right flex-item">
                        <h2><span>Skills</span><span> &amp;</span> <span>Tech</span></h2>
                    </div>
                </div>
            </section>

            <section id="projects">
                <div class="header-left">
                    <h2>Projects</h2>
                </div>
                <div class="content-container projects">
                    <div class="project">
                        <div class="front-card" style="background-color:#ad2424">
                            <h2 class="project-title">The Shoppies</h2>
                        </div>
                        <div class="back-card">
                            <div class="project-description"> <h3>The Shoppies</h3><p> A front-end web project for movie nominations using React.js and imdb API<p></div>
                            <div class="project-button-container">
                                <a class="button" href="https://github.com/achowatt/shopify_challenge" target="_blank">Github</a>
                                <a class="button" href="https://theshoppiesbyanna.netlify.app/" target="_blank">Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="project">
                        <div class="front-card" style="background-image:url('https://res.cloudinary.com/djv69vvs7/image/upload/c_scale,w_462/v1609532769/interiordesign/david-pisnoy-46juD4zY1XA-unsplash_f1mclv.jpg'); background-size:cover;">
                            <h2 class="project-title">CSS Templates</h2>
                        </div>
                        <div class="back-card">
                            <div class="project-description"><h3>CSS templates</h3><p>Inspired by designers on <a href="https://www.behance.net/gallery/90689147/S?tracking_source=search_projects_recommended%7Capp%20web%20web">behance.com</a> and <a href="https://dribbble.com/shots/14611125-Interior-Design/attachments/6303829?mode=media">dribbble.com</p></div>
                            <div class="project-button-container">
                                <a class="button" href="https://achowatt.github.io/css_templates/macarons_shop/" target="_blank">Cookie Shop</a>
                                <a class="button" href="https://achowatt.github.io/css_templates/interior_design" target="_blank">Interior Design</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main> 

        <section id="contact">
            <div class="wrapper contact-info">
                <div class="content-container">
                    <div class="header">
                        <h2>Let's Connect</h2>
                    </div>
                    <p>
                        You can reach me at <a href="mailto: anna.chowattanakul@gmail.com">anna.chowattanakul@gmail.com</a> or <a href="https://www.linkedin.com/in/anna-chowattanakul">linkedIn</a>. 
                        Or simply leave your name, email and message in the form and I’ll respond asap!
                    </p>
                </div>
                <form action="#" name="contact-page" class="contact-form" autocomplete="off" netlify>

                    <div class="form-group form-group-name">
                        <label for="name" class="form-label">Name*</label>
                        <input type="text" class="form-input" placeholder="Full Name" name= "name" id="name" required>
                    </div>

                    <div class="form-group form-group-email">
                        <label for="email" class="form-label">Email*</label>
                        <input type="email" class="form-input" placeholder="Your Email" name= "email" id="email" required>
                    </div>

                    <div class="form-group form-group-subject">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" class="form-input" placeholder="Subject" name="subject" id="subject">
                    </div>

                    <div class="form-group form-group-message">
                        <label for="message" class="form-label">Message*</label>
                        <textarea name="message" class="form-input" id="message" spellcheck="true" placeholder="Please leave a message!" required></textarea>
                    </div>

                    <button type="submit" class="button">Submit</button>

                </form>
            </div>
            <img src="/assets/images/contact_image.svg" alt="Girl holding a phone" class="contact-image">
        </section>

        <footer>
            <div class="footer-content">
                <p class="footer-text"> Designed and Built by Anna Chowattanakul</p>
                <p class="footer-text"> Powered by <a class="footer-link" href="https://www.11ty.dev/">11ty</a>, <a class="footer-link" href="https://sass-lang.com/">scss</a> and <a class="footer-link" href="https://www.netlify.com/">netlify!</a></p>
            </div>
        </footer> 
    </body> 
    <script src="js/main.js" defer></script>
    <script src="js/preloader.js" defer></script>
</html>