/***** HOME PAGE *****/
#home-page { 
    .button{
        display:inline-block;
        padding:0.7rem;
        border-radius: 5px;
        text-decoration: none;
        background-color: transparent;
        // background: var(--download-button);
        // color: var(--main-background-color);
        border: solid 2px #7E6969;
        text-transform: uppercase;
        @include box-shadow;
        transition:all 0.5s;
        cursor:pointer;
        
        &:hover {
            background: var(--text-color);
            transform: translateY(-5px);
            color:white;
        }

        @media (hover:none){
            background-color: #7E6969;
            color:white;
        }

        

        &:focus{
            outline: 1px dashed green;
        }
        
        @include screensize ($mobile) {
            background-color: #7E6969;
            color:white;
        }
    }
}/***** END OF HOME-PAGE *****/
