/***** HOME PAGE *****/
#home-page { 
    .button{
        display:inline-block;
        padding:0.7rem;
        border-radius: 5px;
        text-decoration: none;
        background-color: var(--download-button);
        border: var(--download-button);
        color:white;
        text-transform: uppercase;
        @include box-shadow;
        transition:all 0.5s;
        cursor:pointer;
        
        &:hover {
            transform: translateY(-5px);
        }
        
        @include screensize ($mobile) {
            background-color: var(--download-button);
            color:black;
        }
    }
}/***** END OF HOME-PAGE *****/
