/***** HOME PAGE *****/
#home-page { 
    .mobile-logo{
        display:none;
    }
    #logo-button{
        display:none;
    }

    nav.sticky {
        // background: var(--themed-background-color);
        background: #EDE6DB;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        display:flex;
        justify-content:center;
        align-items: center;
        width:100%;
        height:4.5rem;
        top:0;
        z-index:100;
        box-shadow: 0.4rem 0.2rem 0.2rem rgba(158, 157, 157, 0.329);
        .logo{
            &:link, &:visited {
                color: var(--AC-logo);
                font-family: var(--AC-logo-font);
                font-size: 2.4rem;
                text-decoration: none;
                position:absolute;
                left:5%;
                top:18%;
                transition: transform 0.4s;
            }
            &:hover {
                transform:scale(1.2);
            }
        }   
        .dark-light{
            p {
                display:none;
            }
            &-mode{
                height:5rem;
                position:absolute;
                right:5%;
                top:-6%;
                transition: transform 0.4s;
                cursor: pointer;

                &:hover {
                    transform:scale(1.3);
                }
            }
        }
        .nav-items-container{
            display:flex;
            width:70%;
            justify-content: space-evenly;
            position: relative;
            list-style: none;

            @include screensize ($mobile) {
                width: 100%;
            }

            .nav-item:link, .nav-item:visited{
                display:flex;
                align-items: center;
                justify-content: center;
                width:5.8rem;
                height:2.4rem;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.4s;
            }

            .nav-item:hover {
                font-weight: 900;
                color: #a38787;
                transform:scale(1.3);
            }
            .nav-item:active {
                transform: translateY(10px);
            }
        }
    }

    // @include screensize ($mobile) {
    //     /* New Nav bar */
    //     nav.sticky {
    //         order:-1;
    //         justify-content:center;
    //         align-items: center;
    //         z-index:100;

    //         //mobile-view
    //         background: var(--themed-background-color);
    //         position: -webkit-fixed; /* Safari */
    //         position: fixed;
    //         display:flex;
    //         width:100%;
    //         height:100%;
    //         top:0;
    //         right:0;
    //         box-shadow: none;
    //         //hide
    //         transform: translateX(100%);
    //         // transition: transform 1s;

    //         .logo{
    //                 display:none;
    //         }
    //         .dark-light{
    //             position:absolute;
    //             height:10%;
    //             width:100%;
    //             background:var(--text-color);
    //             bottom:0;
    //             left:0;
    //             display:flex;
    //             justify-content: center;
    //             align-items: center;
    //             p{
    //                 display:block;
    //                 color:var(--themed-background-color);
    //                 font-size: 1.5rem;
    //             }
    //             .dark-light-mode {
    //                 height:5rem;
    //                 position:relative;
    //                 right:1rem;
    //                 transform: translate(15%,8%);
    //                 transition: transform 0.4s;
    //                 cursor: pointer;
    //                 //hide
    //                 // display:none;
    //                 &:hover {
    //                     transform:scale(1.3) translate(15%,8%);
    //                 }
    //             }
    //         }
    //         .nav-items-container{
    //             display:flex;
    //             flex-direction:column;
    //             justify-content: space-between;
    //             width:auto;
    //             height:50%;
    //             list-style: none;
        
    //             .nav-item:link, .nav-item:visited{
    //                 display:flex;
    //                 align-items: center;
    //                 justify-content: center;
    //                 width:5.8rem;
    //                 height:2.4rem;
    //                 text-decoration: none;
    //                 text-transform: uppercase;
    //                 transition: all 0.4s;
    //                 font-size:2rem;
    //             }
        
    //             .nav-item:hover {
    //                 font-weight: 900;
    //                 color:var(--text-color-highlight);
    //                 transform:scale(1.3);
                    
    //             }
    //             .nav-item:active {
    //                 transform: translateY(10px);
    //             }
    //         }
    //     }

    //     /* Mobile Logo */
    //     .mobile-logo{
    //         display:block;
    //         color: var(--main-background-color);
    //         font-family: var(--AC-logo-font);
    //         font-size: 1.5rem;
    //         text-decoration: none;
    //         position: fixed;
    //         left:auto; //negate the other left value
    //         right:1rem;
    //         top:1rem;
    //         transition: transform 0.4s;
    //         //mobile view adding:
    //         background:var(--heading-color-dark);
    //         border-radius: 50%;
    //         border: solid 2px  var(--themed-background-color);
    //         height:4rem;
    //         width:4rem;
    //         display:flex;
    //         align-items: center;
    //         justify-content: center;
    //         z-index:10000;
    //         &:hover {
    //             transform:scale(1.5);
    //         }
    //     }
    //     #logo-button{
    //         display:none;
    //         &:checked ~ nav.sticky {
    //             transform: translateX(0);
    //         }
    //     }
    // }
}/***** END OF HOME PAGE *****/
