/***** HOME PAGE *****/
#home-page { 
    #about {
        padding-top: 5rem;
        .content-container{
            display:flex;
            height:70%;

            .header-left{
                text-align:right;
                width: 12rem;
                height: 12rem;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing:content-box;
                // border: solid 2px var(--themed-background-color);
                // border-radius: 5px;

                &::after {
                    content: "";
                    width: 12rem;
                    height:12rem;
                    border: inset 2px #dcdcdc;
                    position: absolute;
                    border-radius: 50%;
                    animation: rotate infinite 3s;

                    @include screensize($mobile) {
                        display:none;
                    }
                }
                @keyframes rotate {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
                
            }

            .about-paragraph{  
                text-align:justify;
                width:73%;
                margin:auto;
                position:relative;

                // .hide-content {
                //     overflow: hidden;
                //     // max-height:12rem;
                // }

                .read-more{
                    position:absolute;
                    bottom:-2rem;
                    right:0;
                    color: var(--download-button);
                    cursor: pointer;
                    background:none;
                    border: none;
                    font-family: 'Raleway';
                    font-size:1rem;
                    // &:focus {
                    //     outline: 1px dashed green;
                    // }
                }
            }
        }
        @include screensize ($mobile) {
            padding-top: 0;
            .content-container{
                display:flex;
                flex-direction: column;
                justify-content: center;
                height:100%;
                .header-left{
                    @include heading-mobile;
                }
                .about-paragraph{  
                    width:90%;

                    .read-more{
                        bottom:-3rem;
                    }
                }
            }
        }
    }

    .download-container{
        height:15rem;
        display:flex;
        justify-content: center;
        align-items: center;

        // button -- see components _button.scss

        @include screensize ($mobile) {
            height:0;
            padding: 5rem 0;

        }
    }
}/*****END OF HOME PAGE *****/