/***** HOME PAGE *****/
#home-page { 
    #about {
        padding-top: 5rem;
        .content-container{
            display:flex;
            height:70%;

            .header-left{
                text-align:right;
                width: 12rem;
                height: 12rem;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing:content-box;
            }

            .about-paragraph{  
                text-align:justify;
                width:73%;
                margin:auto;
                position:relative;
            }
        }
        @include screensize ($mobile) {
            padding-top: 0;
            .content-container{
                display:flex;
                flex-direction: column;
                justify-content: center;
                height:100%;
                .header-left{
                    @include heading-mobile;
                }
                .about-paragraph{  
                    width:90%;

                    .read-more{
                        bottom:-3rem;
                    }
                }
            }
        }
    }

    .download-container{
        height:15rem;
        display:flex;
        justify-content: center;
        align-items: center;

        // button -- see components _button.scss

        @include screensize ($mobile) {
            height:0;
            padding: 5rem 0;

        }
    }
}/*****END OF HOME PAGE *****/