/***** HOME PAGE *****/
#home-page { 
    #contact {
        // background-image: linear-gradient(to top, var(--themed-background-color), var(--main-background-color));
        background-color: var(--themed-background-color);
        display:flex;
        padding-top: 2rem;
        padding-bottom:3rem;
        // left-side
        .content-container{
            width:40%;
            margin: 2rem auto auto auto;
            text-align:start;

            .tree {
                position: absolute;
                left:0;
                transform:translateY(15%);
            }
            svg{
                width: 100%;
                height: 100%;
                position: relative;
                top:3rem;
            }
        }
        //right-side
        .contact-form {
            margin:2rem auto auto auto;
            width:40%;
            display:grid;
            grid-template-areas:
                "name email "
                "subject subject"
                "message message"
                ". submit"
            ;
            grid-gap: 0.5rem 2rem;
            .form-group{
                .form-label{
                    display:block;
                    padding:0.5rem;
                }
                .form-input {
                    width:100%;
                    height:2.3rem;
                    padding:0.5rem;
                    border-radius:3px;
                    border: solid var(--themed-background-color) 1.7px;

                    &:focus{
                        outline: 1px dashed green;
                    }
                }

                &-name {
                    grid-area: name;
                }
                &-email {
                    grid-area: email;
                }
                &-subject {
                    grid-area: subject;
                }
                &-message {
                    grid-area: message;
                    .form-input{
                        height:10rem;
                        resize:none;
                    }
                }          
            }
            // .button-submit{
            .button[type="submit"]{
                grid-area:submit;
                font-family: 'Raleway', sans-serif;
                color:white;
                background-color: #7E6969;
                padding: 0.5rem 0;

                &:hover {
                    color:white;
                }
                // text-transform: uppercase;
                // margin-top:1rem;
                // padding:0.5rem 0.9rem;
                // border-radius: 5px;
                // background: var(--themed-background-color);
                // color: var(--main-background-color);
                // border: 2px solid #7E6969;
                // cursor:pointer;
                // justify-self: end;
                // @include box-shadow;
                // transition:all 0.5s;

                // &:hover {
                //     transform: translateY(-5px);
                //     background-color: #7E6969;
                //     color:white;
                // }
            }
        }
        @include screensize($mobile){
            background: var(--themed-background-color);
            display:flex;
            flex-direction: column;
            height:auto;
            padding-bottom:3rem;
            // left-side
            .content-container{
                width:100%;
                margin:0;
                text-align:start;
                .header {
                    //see mixins
                    @include heading-mobile;
                    margin-bottom:1rem;
                    border-color: var(--main-background-color);
                }
                p {
                    width:90%;
                    margin:auto;
                }

                .tree {
                    width:70vw;
                }
            }
            //right-side
            .contact-form {
                margin:5rem auto auto auto;
                width:90%;
                display:grid;
                grid-template-areas:
                    "name name"
                    "email email"
                    "subject subject"
                    "message message"
                    "submit submit"
                ;
                grid-gap: 0.5rem 2rem;
                .form-group{
                    .form-label{
                        display:block;
                        padding:0.5rem;
                    }
                    .form-input {
                        width:100%;
                        height:2.3rem;
                        padding:0.5rem;
                        border-radius:3px;
                    }
        
                    &-name {
                        grid-area: name;
                    }
                    &-email {
                        grid-area: email;
                    }
                    &-subject {
                        grid-area: subject;
                    }
                    &-message {
                        grid-area: message;
                        .form-input{
                            height:10rem;
                            resize:none;
                        }
                    }          
                }
                .button[type="submit"] {
                    grid-area:submit;
                    margin-top:1rem;
                    padding:0.8rem;
                }
            }
        }
    }
}/***** END OF HOME-PAGE *****/
