/***** HOME PAGE *****/
#home-page { 
    footer {
        font-size: 1rem;
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        padding: 2rem 0;
        background: var(--background-footer);
        .footer-content {
            display:flex;
            flex-direction: column;
            align-items: center;
            position:relative;
            span {
                display:block;
                font-size: 1rem;
                color: var(--themed-background-color);
            }
            .logo {
                color: var(--AC-logo);
                font-family: var(--AC-logo-font);
                font-size: 2.5rem;
            }
            .footer-text {
                color:white;

            }
            // &::before{
            //     content: "";
            //     position: absolute;
            //     top: 50%;
            //     left: -75%;
            //     // transform: translateX(-10px);
            //     width: 7rem;
            //     height: 1px;
            //     background: var(--themed-background-color);
            // }
            // &::after{
            //     content:"";
            //     position: absolute;
            //     top: 50%;
            //     right: -75%;
            //     // transform: translateX(10px);
            //     width: 7rem;
            //     height: 1px;
            //     background: var(--themed-background-color);
            // }
        }
    }
}/***** END OF HOME-PAGE *****/
