/***** HOME PAGE *****/
#home-page { 
    footer {
        font-size: 1rem;
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        padding: 2rem 0;
        background: var(--background-footer);
        .footer-content {
            display:flex;
            flex-direction: column;
            align-items: center;
            position:relative;
            span {
                display:block;
                font-size: 1rem;
                color: var(--themed-background-color);
            }
            .logo {
                color: var(--AC-logo);
                font-family: var(--AC-logo-font);
                font-size: 2.5rem;
            }
            .footer-text {
                color:white;
                text-align: center;

            }
            .footer-link {
                color:white;
                cursor:pointer;
            }
        }
    }
}/***** END OF HOME-PAGE *****/
