/***** HOME PAGE *****/
#home-page { 
  header {
    &.header-bg_v2 {
      height: calc(100vh - 4.5rem);
      // height:100vh;
      width: 100%;
      position: relative;
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
    }

    .header--name { //name
      font-family: 'Monoton', cursive;
      font-size: 20vw;
      line-height: 1;
      background-blend-mode: screen;
      background-image: linear-gradient(
          to right bottom,
          #d76300, #4637e0
        ),
        url("../images/cropped.jpg");
    
      background-size: cover;
      background-position: center top;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    .header--name_v2 { //name_v2
      font-family: 'Nixie One', cursive;
      text-align: center;
      font-size: 2rem;
      color:#ff8c23;
      // margin-top: -34vh;
    }

    .header-container {
      text-align: center;
      position: absolute;
      bottom: 60vh;
      @include screensize($mobile){
        bottom: 44vh;
      }
    }

    .header--description_v2 {
      font-family: 'Raleway', cursive;
      line-height:1.5;
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    .header-img{
      height:50vh;
      position:absolute;
      bottom:0;

      @include screensize($mobile){
        height:33vh;
      }
    }
  }

}/***** END OF HOME-PAGE *****/
