#projects {
    .header-left{
        display:inline-block;
        text-align:right;
        padding:1rem 2.5rem;
        box-sizing:content-box;
        background-image: linear-gradient(to bottom, var(--themed-background-color), var(--main-background-color));
        border-radius: 0 20px 20px 0;
    }
    .content-container{
        width:95%;
        margin:auto;
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(24rem,1fr));
        padding-top: 2rem;
        padding-bottom: 2rem;
        grid-row-gap: 2rem;
        justify-items: center;
        align-items: center;
        .project {
            width:22rem;
            height:16rem;
            background: var(--themed-background-color);
            border-radius:5px;
        }
    }
}