/***** HOME PAGE *****/
#home-page { 
    #skills {
        .content-container{
            display:flex;
            height:auto;
            padding-bottom:6rem;
            .header-right{
                text-align:left;
                width: 13rem;
                height: 13rem;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing:content-box;
                background-color: var(--themed-background-color);
                // outline: 1px solid var(--text-color);
                // outline-offset: -10px;
                // box-shadow: inset 2px 2px 14px var(--heading-color-light);
                border-radius: 3px;
                // background-image: linear-gradient(to bottom, var(--themed-background-color), var(--main-background-color));
                // border-radius: 20px 0 0 20px;
            }
            .icon-container{
                margin:auto;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                justify-items:center;
                align-items:center;
                grid-gap: 50px;
                .icon {
                    text-align: center;
                    i {
                        font-size:4rem;
                        color:var(--icon-color);
                    }
                    p {
                        font-size:1rem;
                    }
                }
            }
        }

        @include screensize($mobile){
            .content-container{
                display:flex;
                flex-direction: column-reverse;
                height:auto;
                background-color: var(--themed-background-color);
                justify-items: center;
                align-items: center;
                padding-bottom:3rem;
                .header-right{
                    //see mixins
                    @include heading-mobile;
                    border-color: var(--main-background-color);
                }
                .icon-container{
                    display:grid;
                    justify-items: center;
                    grid-template-columns: repeat(4, minmax(2rem,1fr));
                    width:85%;
                    .icon {
                        text-align: center;
                        i {
                            font-size:max(8vw, 55px);
                            color:var(--icon-color);
                        }
                        p {
                            font-size:100%;
                        }
                    }
                }
            }
        }
    }
}///***** END OF HOME-PAGE *****/
