/**Put Screen Size and media query in this page **/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 100%;
  /* Background */
  --themed-background-color: #E3F7FF;
  --main-background-color: white;
  --text-color: #003584;
  --text-color-highlight: #0085FF;
  --heading-color-light: #0034EB;
  --heading-color-dark: #00D7D7;
  --icon-color: #2A6398;
  --download-button: #00D7D7;
  --AC-logo: #00B6FF;
  --form-field-txt: #A38787;
  --submit-btn-light: #00B6FF;
  --submit-btn-dark: #1A4374;
  --background-footer: #1A4374;
  --form-input: #00B6FF;
}
@media only screen and (max-width: 814px) {
  html {
    font-size: 80%;
  }
}

html[data-theme=dark] {
  --themed-background-color:#3C1100;
  --main-background-color: #000000;
  --text-color: #FFCA7B;
  --text-color-highlight: #FF7A00;
  --heading-color-light: #FFD027;
  --heading-color-dark: #FF2828;
  --icon-color:#D59C67;
  --AC-logo:#FF4900;
  --form-field-txt: #AFC7C7;
  --submit-btn-light: #FFCA7B;
  --submit-btn-dark: #FF4900;
  --background-footer: #3C1100;
  /*extra*/
  --download-button: #FF2E00;
  --form-input: #FFCA7B;
}

/** All the text **/
/* Declaring Variables */
html {
  /* Default font-family */
  font-family: "Raleway", sans-serif;
  /* Font-variable */
  --AC-logo-font: "Parisienne", cursive;
  --header-font: "Monoton", cursive;
}

h2 {
  font-family: var(--header-font);
  color: transparent;
  background-image: linear-gradient(to top, var(--heading-color-dark), var(--heading-color-light));
  -webkit-background-clip: text;
  background-clip: text;
  font-size: calc(2.9vw);
}
@media only screen and (min-width: 815px) {
  h2 span {
    display: block;
  }
}
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 814px) {
  h2 {
    font-size: calc(4vw + 0.5rem);
  }
}

p, label, a {
  color: var(--text-color);
}

p {
  line-height: 1.5rem;
}
@media only screen and (max-width: 814px) {
  p {
    line-height: 2rem;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.button {
  display: inline-block;
  padding: 0.7rem;
  border-radius: 5px;
  background: var(--download-button);
  color: var(--main-background-color);
  text-transform: uppercase;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.171);
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background: var(--text-color);
  transform: translateY(-5px);
}
@media only screen and (max-width: 814px) {
  .button {
    padding: 0.7rem 2rem;
    margin: -10rem;
  }
}

.mobile-logo {
  display: none;
}

#logo-button {
  display: none;
}

nav.sticky {
  background: var(--themed-background-color);
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  top: 0;
  z-index: 100;
  box-shadow: 0.4rem 0.2rem 0.2rem rgba(158, 157, 157, 0.329);
}
nav.sticky .logo:link, nav.sticky .logo:visited {
  color: var(--AC-logo);
  font-family: var(--AC-logo-font);
  font-size: 2.4rem;
  text-decoration: none;
  position: absolute;
  left: 5%;
  top: 18%;
  transition: transform 0.4s;
}
nav.sticky .logo:hover {
  transform: scale(1.2);
}
nav.sticky .dark-light p {
  display: none;
}
nav.sticky .dark-light-mode {
  height: 5rem;
  position: absolute;
  right: 5%;
  top: -6%;
  transition: transform 0.4s;
  cursor: pointer;
}
nav.sticky .dark-light-mode:hover {
  transform: scale(1.3);
}
nav.sticky .nav-items-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  list-style: none;
}
nav.sticky .nav-items-container .nav-item:link, nav.sticky .nav-items-container .nav-item:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.8rem;
  height: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}
nav.sticky .nav-items-container .nav-item:hover {
  font-weight: 900;
  color: var(--text-color-highlight);
  transform: scale(1.3);
}
nav.sticky .nav-items-container .nav-item:active {
  transform: translateY(10px);
}

@media only screen and (max-width: 814px) {
  /* New Nav bar */
  nav.sticky {
    order: -1;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: var(--themed-background-color);
    position: -webkit-fixed;
    /* Safari */
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: none;
    transform: translateX(100%);
  }
  nav.sticky .logo {
    display: none;
  }
  nav.sticky .dark-light {
    position: absolute;
    height: 10%;
    width: 100%;
    background: var(--text-color);
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav.sticky .dark-light p {
    display: block;
    color: var(--themed-background-color);
    font-size: 1.5rem;
  }
  nav.sticky .dark-light .dark-light-mode {
    height: 5rem;
    position: relative;
    right: 1rem;
    transform: translate(15%, 8%);
    transition: transform 0.4s;
    cursor: pointer;
  }
  nav.sticky .dark-light .dark-light-mode:hover {
    transform: scale(1.3) translate(15%, 8%);
  }
  nav.sticky .nav-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 50%;
    list-style: none;
  }
  nav.sticky .nav-items-container .nav-item:link, nav.sticky .nav-items-container .nav-item:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.8rem;
    height: 2.4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s;
    font-size: 2rem;
  }
  nav.sticky .nav-items-container .nav-item:hover {
    font-weight: 900;
    color: var(--text-color-highlight);
    transform: scale(1.3);
  }
  nav.sticky .nav-items-container .nav-item:active {
    transform: translateY(10px);
  }

  /* Mobile Logo */
  .mobile-logo {
    display: block;
    color: var(--main-background-color);
    font-family: var(--AC-logo-font);
    font-size: 1.5rem;
    text-decoration: none;
    position: fixed;
    left: auto;
    right: 1rem;
    top: 1rem;
    transition: transform 0.4s;
    background: var(--heading-color-dark);
    border-radius: 50%;
    border: solid 2px var(--themed-background-color);
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }
  .mobile-logo:hover {
    transform: scale(1.5);
  }

  #logo-button {
    display: none;
  }
  #logo-button:checked ~ nav.sticky {
    transform: translateX(0);
  }
}
#about {
  padding-top: 5rem;
}
#about .content-container {
  display: flex;
  height: 70%;
}
#about .content-container .header-left {
  text-align: right;
  padding: 2rem 2rem 2.5rem 3.3rem;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, var(--themed-background-color), var(--main-background-color));
  border-radius: 0 20px 20px 0;
}
#about .content-container p {
  text-align: justify;
  width: 70%;
  margin: auto;
  position: relative;
}
#about .content-container p .read-more {
  position: absolute;
  bottom: -2rem;
  right: 0;
}
@media only screen and (max-width: 814px) {
  #about {
    padding-top: 0;
  }
  #about .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  #about .content-container .header-left {
    width: 90%;
    background: none;
    margin: 3rem auto 3rem auto;
    padding: 0;
    box-sizing: border-box;
    height: 4rem;
    border: double 4px var(--themed-background-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .content-container p {
    width: 90%;
  }
  #about .content-container p .read-more {
    bottom: -3rem;
  }
}

.download-container {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 814px) {
  .download-container {
    margin-top: 3rem;
    height: 0;
    padding: 5rem 0;
  }
}

#contact {
  background-image: linear-gradient(to top, var(--themed-background-color), var(--main-background-color));
  display: flex;
  padding-bottom: 3rem;
}
#contact .content-container {
  width: 40%;
  margin: 2rem auto auto auto;
  text-align: start;
}
#contact .content-container .tree {
  position: absolute;
  left: 0;
  transform: translateY(15%);
}
#contact .content-container svg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 3rem;
}
#contact .contact-form {
  margin: 2rem auto auto auto;
  width: 40%;
  display: grid;
  grid-template-areas: "name email " "subject subject" "message message" ". submit";
  grid-gap: 0.5rem 2rem;
}
#contact .contact-form .form-group .form-label {
  display: block;
  padding: 0.5rem;
}
#contact .contact-form .form-group .form-input {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: solid var(--form-input) 1.7px;
}
#contact .contact-form .form-group-name {
  grid-area: name;
}
#contact .contact-form .form-group-email {
  grid-area: email;
}
#contact .contact-form .form-group-subject {
  grid-area: subject;
}
#contact .contact-form .form-group-message {
  grid-area: message;
}
#contact .contact-form .form-group-message .form-input {
  height: 10rem;
  resize: none;
}
#contact .contact-form .button-submit {
  grid-area: submit;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 0.5rem 0.9rem;
  border-radius: 5px;
  background: var(--download-button);
  color: var(--main-background-color);
  border: none;
  cursor: pointer;
  justify-self: end;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.171);
  transition: all 0.5s;
  cursor: pointer;
}
#contact .contact-form .button-submit:hover {
  transform: translateY(-5px);
}
@media only screen and (max-width: 814px) {
  #contact {
    background: var(--themed-background-color);
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 3rem;
  }
  #contact .content-container {
    width: 100%;
    margin: 0;
    text-align: start;
  }
  #contact .content-container .header {
    width: 90%;
    background: none;
    margin: 3rem auto 3rem auto;
    padding: 0;
    box-sizing: border-box;
    height: 4rem;
    border: double 4px var(--themed-background-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-color: var(--main-background-color);
  }
  #contact .content-container p {
    width: 90%;
    margin: auto;
  }
  #contact .content-container .tree {
    width: 70vw;
  }
  #contact .contact-form {
    margin: 5rem auto auto auto;
    width: 90%;
    display: grid;
    grid-template-areas: "name name" "email email" "subject subject" "message message" "submit submit";
    grid-gap: 0.5rem 2rem;
  }
  #contact .contact-form .form-group .form-label {
    display: block;
    padding: 0.5rem;
  }
  #contact .contact-form .form-group .form-input {
    width: 100%;
    height: 2.3rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: solid var(--form-input) 1.7px;
  }
  #contact .contact-form .form-group-name {
    grid-area: name;
  }
  #contact .contact-form .form-group-email {
    grid-area: email;
  }
  #contact .contact-form .form-group-subject {
    grid-area: subject;
  }
  #contact .contact-form .form-group-message {
    grid-area: message;
  }
  #contact .contact-form .form-group-message .form-input {
    height: 10rem;
    resize: none;
  }
  #contact .contact-form .button-submit {
    grid-area: submit;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    width: 100%;
    border-radius: 3px;
    border: none;
    justify-self: center;
    cursor: pointer;
  }
}

footer {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12rem;
  background: var(--background-footer);
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
footer .footer-content span {
  display: block;
  font-size: 1rem;
  color: var(--themed-background-color);
}
footer .footer-content .logo {
  color: var(--AC-logo);
  font-family: var(--AC-logo-font);
  font-size: 2.5rem;
}
footer .footer-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -75%;
  width: 7rem;
  height: 1px;
  background: var(--themed-background-color);
}
footer .footer-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -75%;
  width: 7rem;
  height: 1px;
  background: var(--themed-background-color);
}

header {
  font-family: "Raleway", sans-serif;
  height: calc(100vh - 4.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #E3F7FF, white);
}
header .header--name {
  font-family: "Monoton", cursive;
  font-size: 20vw;
  line-height: 1;
  background-blend-mode: screen;
  background-image: linear-gradient(to right bottom, #00d7d7, #4637e0), url("../images/cropped.jpg");
  background-size: cover;
  background-position: center top;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
header .header--description {
  font-size: 1.2rem;
  background-image: linear-gradient(to right bottom, #003584, #0085FF), url("../images/cropped.jpg");
  background-size: cover;
  background-position: center top;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

@media only screen and (max-width: 814px) {
  header {
    height: 100vh;
    width: 100%;
  }
  header .header--name {
    font-size: 27vw;
  }
  header .header--description {
    font-size: 1rem;
    background-size: cover;
    background-position: center top;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }
}
#projects .header-left {
  display: inline-block;
  text-align: right;
  padding: 1rem 2.5rem;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, var(--themed-background-color), var(--main-background-color));
  border-radius: 0 20px 20px 0;
}
#projects .content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: center;
}
#projects .content-container .project {
  width: 23rem;
  height: 16rem;
  background: var(--themed-background-color);
  border-radius: 5px;
}
@media only screen and (max-width: 814px) {
  #projects .header-left {
    width: 90%;
    background: none;
    margin: 3rem auto 3rem auto;
    padding: 0;
    box-sizing: border-box;
    height: 4rem;
    border: double 4px var(--themed-background-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #projects .content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    padding-top: 0;
    grid-row-gap: 2rem;
    justify-items: center;
    align-items: center;
  }
  #projects .content-container .project {
    width: 90%;
    height: 16rem;
    background: var(--themed-background-color);
    border-radius: 5px;
  }
}

#skills .content-container {
  display: flex;
  height: auto;
  padding-bottom: 6rem;
}
#skills .content-container .header-right {
  text-align: left;
  padding: 2rem 3rem 2rem 2.5rem;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, var(--themed-background-color), var(--main-background-color));
  border-radius: 20px 0 0 20px;
}
#skills .content-container .icon-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 50px;
}
#skills .content-container .icon-container .icon {
  text-align: center;
}
#skills .content-container .icon-container .icon i {
  font-size: 4rem;
  color: var(--icon-color);
}
#skills .content-container .icon-container .icon p {
  font-size: 1rem;
}
@media only screen and (max-width: 814px) {
  #skills .content-container {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    background-color: var(--themed-background-color);
    justify-items: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  #skills .content-container .header-right {
    width: 90%;
    background: none;
    margin: 3rem auto 3rem auto;
    padding: 0;
    box-sizing: border-box;
    height: 4rem;
    border: double 4px var(--themed-background-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--main-background-color);
  }
  #skills .content-container .icon-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
    width: 85%;
  }
  #skills .content-container .icon-container .icon {
    text-align: center;
  }
  #skills .content-container .icon-container .icon i {
    font-size: max(8vw, 55px);
    color: var(--icon-color);
  }
  #skills .content-container .icon-container .icon p {
    font-size: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
