/**Put Screen Size and media query in this page **/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  /* Background */
  --themed-background-color: #f7f7f7;
  --main-background-color: #ffffff;
  --contact-background-color: #3f3c56;
  --text-color: #313131;
  --text-color-highlight: #0085FF;
  --heading-color-light: #dddddd;
  --heading-color-dark: #00D7D7;
  --icon-color: #626161;
  --download-button: #00D7D7;
  --AC-logo: #00B6FF;
  --form-field-txt: #A38787;
  --submit-btn-light: #00B6FF;
  --submit-btn-dark: #1A4374;
  --background-footer: #2f2e41;
  --form-input: #00B6FF;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.822);
  width: 100%;
}
@media only screen and (max-width: 814px) {
  body {
    width: unset;
    overflow-x: hidden;
  }
}

html {
  display: flex;
  justify-content: center;
  font-size: 100%;
  overflow-x: hidden;
}
@media only screen and (max-width: 814px) {
  html {
    font-size: 95%;
  }
}

html[data-theme=dark] {
  --themed-background-color:#3C1100;
  --main-background-color: #000000;
  --text-color: #FFCA7B;
  --text-color-highlight: #FF7A00;
  --heading-color-light: #FFD027;
  --heading-color-dark: #FF2828;
  --icon-color:#D59C67;
  --AC-logo:#FF4900;
  --form-field-txt: #AFC7C7;
  --submit-btn-light: #FFCA7B;
  --submit-btn-dark: #FF4900;
  --background-footer: #3C1100;
  /*extra*/
  --download-button: #FF2E00;
  --form-input: #FFCA7B;
}

/** All the text **/
/* Declaring Variables */
/***** HOME PAGE *****/
#home-page {
  /* Default font-family */
  font-family: "Raleway", sans-serif;
  /* Font-variable */
  --AC-logo-font: "Parisienne", cursive;
  --header-font: "Nixie One", cursive;
}
#home-page h2 {
  font-family: var(--header-font);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.5rem;
  color: #ff8c23;
}
@media only screen and (min-width: 815px) {
  #home-page h2 span {
    display: block;
  }
}
@media only screen and (max-width: 1000px) {
  #home-page h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 814px) {
  #home-page h2 {
    font-size: 3rem;
  }
}
#home-page p, #home-page label, #home-page a {
  color: var(--text-color);
}
#home-page p {
  line-height: 1.5rem;
}
@media only screen and (max-width: 814px) {
  #home-page p {
    line-height: 2rem;
  }
}

/***** END OF HOME PAGE *****/
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

/***** HOME PAGE *****/
#home-page .button {
  display: inline-block;
  padding: 0.7rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--download-button);
  color: white;
  border: solid 2px var(--download-button);
  text-transform: uppercase;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.171);
  transition: all 0.5s;
  cursor: pointer;
}
#home-page .button:hover {
  transform: translateY(-5px);
}
@media only screen and (max-width: 814px) {
  #home-page .button {
    background-color: var(--download-button);
    color: black;
  }
}

/***** END OF HOME-PAGE *****/
/***** HOME PAGE *****/
#home-page .mobile-logo {
  display: none;
}
#home-page #logo-button {
  display: none;
}
#home-page nav.sticky {
  background: rgba(255, 255, 255, 0.9);
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  top: 0;
  z-index: 100;
}
#home-page nav.sticky .logo:link, #home-page nav.sticky .logo:visited {
  color: var(--AC-logo);
  font-family: var(--AC-logo-font);
  font-size: 2.4rem;
  text-decoration: none;
  position: absolute;
  left: 5%;
  top: 18%;
  transition: transform 0.4s;
}
#home-page nav.sticky .logo:hover {
  transform: scale(1.2);
}
#home-page nav.sticky .nav-items-container {
  display: flex;
  width: 90%;
  max-width: 800px;
  justify-content: space-evenly;
  position: relative;
  list-style: none;
}
@media only screen and (max-width: 814px) {
  #home-page nav.sticky .nav-items-container {
    width: 100%;
  }
}
#home-page nav.sticky .nav-items-container .nav-item:link, #home-page nav.sticky .nav-items-container .nav-item:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.8rem;
  height: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}
#home-page nav.sticky .nav-items-container .nav-item:hover {
  font-weight: 900;
  color: #a38787;
  transform: scale(1.3);
}
#home-page nav.sticky .nav-items-container .nav-item:active {
  transform: translateY(10px);
}

/***** END OF HOME PAGE *****/
/***** HOME PAGE *****/
#home-page #about {
  padding-top: 5rem;
}
#home-page #about .content-container {
  display: flex;
  height: 70%;
}
#home-page #about .content-container .header-left {
  text-align: right;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}
#home-page #about .content-container .about-paragraph {
  text-align: justify;
  width: 73%;
  margin: auto;
  position: relative;
}
#home-page #about .content-container .about-paragraph .read-more {
  position: absolute;
  bottom: -2rem;
  right: 0;
  color: var(--download-button);
  cursor: pointer;
  background: none;
  border: none;
  font-family: "Raleway";
  font-size: 1rem;
}
@media only screen and (max-width: 814px) {
  #home-page #about {
    padding-top: 0;
  }
  #home-page #about .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  #home-page #about .content-container .header-left {
    width: 90%;
    background: none;
    margin: 3rem auto 1.5rem auto;
    padding: 0;
    box-sizing: border-box;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home-page #about .content-container .about-paragraph {
    width: 90%;
  }
  #home-page #about .content-container .about-paragraph .read-more {
    bottom: -3rem;
  }
}
#home-page .download-container {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 814px) {
  #home-page .download-container {
    height: 0;
    padding: 5rem 0;
  }
}

/*****END OF HOME PAGE *****/
/***** HOME PAGE *****/
#home-page #contact {
  position: relative;
}
@media only screen and (max-width: 814px) {
  #home-page #contact {
    background: var(--contact-background-color);
    height: auto;
    padding-bottom: 8rem;
  }
  #home-page #contact .contact-image {
    position: absolute;
    bottom: -6rem;
    max-width: 1300px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    width: 100vw;
  }
}
@media only screen and (max-width: 814px) and (max-width: 565px) {
  #home-page #contact .contact-image {
    width: 140vw;
  }
}
@media only screen and (max-width: 814px) and (max-width: 390px) {
  #home-page #contact .contact-image {
    width: 222vw;
  }
}
@media only screen and (max-width: 814px) {
  #home-page #contact .content-container {
    width: 100%;
    margin: 0;
    text-align: start;
  }
  #home-page #contact .content-container .header {
    width: 90%;
    background: none;
    margin: 3rem auto 1.5rem auto;
    padding: 0;
    box-sizing: border-box;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
    margin-bottom: 1rem;
    border-color: var(--main-background-color);
  }
  #home-page #contact .content-container p {
    width: 90%;
    margin: auto;
    color: white;
  }
  #home-page #contact .content-container a {
    color: white;
  }
}
@media only screen and (max-width: 814px) {
  #home-page #contact .contact-form {
    margin: 2rem auto auto auto;
    width: 90%;
    display: grid;
    grid-template-areas: "name name" "email email" "subject subject" "message message" "submit submit";
    grid-gap: 0.5rem 2rem;
  }
  #home-page #contact .contact-form .form-group .form-label {
    display: block;
    padding: 0.5rem;
  }
  #home-page #contact .contact-form .form-group .form-input {
    width: 100%;
    height: 2.3rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: solid #c1c1c1 1.7px;
  }
  #home-page #contact .contact-form .form-group-name {
    grid-area: name;
  }
  #home-page #contact .contact-form .form-group-email {
    grid-area: email;
  }
  #home-page #contact .contact-form .form-group-subject {
    grid-area: subject;
  }
  #home-page #contact .contact-form .form-group-message {
    grid-area: message;
  }
  #home-page #contact .contact-form .form-group-message .form-input {
    height: 10rem;
    resize: none;
  }
  #home-page #contact .contact-form .button[type=submit] {
    grid-area: submit;
    font-family: "Raleway", sans-serif;
    margin-top: 1rem;
    padding: 0.8rem;
    color: black;
  }
}
@media screen and (min-width: 815px) {
  #home-page #contact {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  #home-page #contact .contact-info {
    padding-left: 2rem;
  }
  #home-page #contact .contact-image {
    position: absolute;
    bottom: -6rem;
    width: 100vw;
    max-width: 1250px;
    left: 50%;
    transform: translateX(-43%);
    pointer-events: none;
  }
  #home-page #contact .content-container {
    width: 58%;
    min-width: 34rem;
    text-align: start;
    margin-bottom: 1rem;
  }
  #home-page #contact .content-container .header {
    margin-bottom: 2rem;
  }
  #home-page #contact .content-container p {
    color: black;
  }
  #home-page #contact .content-container a {
    color: black;
  }
  #home-page #contact .contact-form {
    width: 58%;
    min-width: 34rem;
    display: grid;
    grid-template-areas: "name email " "subject subject" "message message" "submit submit";
    grid-gap: 0.5rem 2rem;
  }
  #home-page #contact .contact-form .form-group .form-label {
    display: block;
    padding: 0.5rem;
  }
  #home-page #contact .contact-form .form-group .form-input {
    width: 100%;
    height: 2.3rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: solid #c1c1c1 1.7px;
  }
  #home-page #contact .contact-form .form-group-name {
    grid-area: name;
  }
  #home-page #contact .contact-form .form-group-email {
    grid-area: email;
  }
  #home-page #contact .contact-form .form-group-subject {
    grid-area: subject;
  }
  #home-page #contact .contact-form .form-group-message {
    grid-area: message;
  }
  #home-page #contact .contact-form .form-group-message .form-input {
    height: 10rem;
    resize: none;
  }
  #home-page #contact .contact-form .button[type=submit] {
    grid-area: submit;
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: var(--download-button);
    padding: 0.5rem 0;
  }
}

/***** END OF HOME-PAGE *****/
/***** HOME PAGE *****/
#home-page footer {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background: var(--background-footer);
}
#home-page footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#home-page footer .footer-content span {
  display: block;
  font-size: 1rem;
  color: var(--themed-background-color);
}
#home-page footer .footer-content .logo {
  color: var(--AC-logo);
  font-family: var(--AC-logo-font);
  font-size: 2.5rem;
}
#home-page footer .footer-content .footer-text {
  color: white;
  text-align: center;
}
#home-page footer .footer-content .footer-link {
  color: white;
  cursor: pointer;
}

/***** END OF HOME-PAGE *****/
/***** HOME PAGE *****/
#home-page header.header-bg_v1 {
  font-family: "Raleway", sans-serif;
  height: calc(100vh - 4.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#home-page header.header-bg_v2 {
  height: calc(100vh - 4.5rem);
  width: 100%;
  position: relative;
}
#home-page header .header--name {
  font-family: "Monoton", cursive;
  font-size: 20vw;
  line-height: 1;
  background-blend-mode: screen;
  background-image: linear-gradient(to right bottom, #d76300, #4637e0), url("../images/cropped.jpg");
  background-size: cover;
  background-position: center top;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#home-page header .header--name_v2 {
  font-family: "Nixie One", cursive;
  text-align: center;
  font-size: 2rem;
  color: #ff8c23;
}
#home-page header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#home-page header .header--description {
  font-size: 1.2rem;
  background-image: linear-gradient(to right bottom, #003584, #0085FF), url("../images/cropped.jpg");
  background-size: cover;
  background-position: center top;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
#home-page header .header--description_v2 {
  font-family: "Unica One", cursive;
  line-height: 1.5;
  font-size: 1.4rem;
  padding-bottom: 3rem;
}
@media screen and (max-width: 1100px) {
  #home-page header .header--description_v2 {
    padding-bottom: 8rem;
  }
}
#home-page header .header-img {
  width: 50vw;
  bottom: 74px;
  max-width: 1000px;
  min-width: 300px;
}
@media screen and (max-width: 1100px) {
  #home-page header .header-img {
    width: 94vw;
  }
}
@media only screen and (max-width: 814px) {
  #home-page header {
    height: 100vh;
    width: 100%;
  }
  #home-page header .header--name {
    font-size: 27vw;
  }
  #home-page header .header--description {
    font-size: 1rem;
    background-size: cover;
    background-position: center top;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }
}

/***** END OF HOME-PAGE *****/
/***** HOME PAGE *****/
#home-page #projects .header-left {
  display: inline-block;
  text-align: right;
  padding: 1rem 2.5rem;
  box-sizing: content-box;
  position: relative;
}
#home-page #projects .content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 3rem 0 5rem;
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: center;
}
#home-page #projects .content-container .project {
  width: 23rem;
  height: 16rem;
  position: relative;
  border-radius: 5px;
}
#home-page #projects .content-container .project:hover {
  cursor: pointer;
}
#home-page #projects .content-container .project .front-card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 3px;
  z-index: 1;
  transition: 3s transform;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: grid;
  place-items: center;
  box-shadow: 3px 3px 3px rgba(141, 141, 141, 0.322);
}
#home-page #projects .content-container .project .front-card img {
  width: 100%;
}
#home-page #projects .content-container .project .front-card .project-title {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
#home-page #projects .content-container .project .back-card {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotateY(180deg);
  transition: 3s transform;
  background: var(--themed-background-color);
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px rgba(141, 141, 141, 0.322);
}
#home-page #projects .content-container .project .back-card h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.5;
}
#home-page #projects .content-container .project .back-card .project-description {
  padding: 1rem;
  text-align: center;
}
@media only screen and (max-width: 814px) {
  #home-page #projects .header-left {
    width: 90%;
    background: none;
    margin: 3rem auto 1.5rem auto;
    padding: 0;
    box-sizing: border-box;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home-page #projects .content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    padding-top: 0;
    grid-row-gap: 2rem;
    justify-items: center;
    align-items: center;
  }
  #home-page #projects .content-container .project {
    width: 90%;
    height: 16rem;
    border-radius: 5px;
  }
}

/***** END OF HOME-PAGE *****/
/***** HOME PAGE *****/
#home-page #skills .content-container {
  display: flex;
  height: auto;
  padding-bottom: 6rem;
}
#home-page #skills .content-container .header-right {
  text-align: left;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}
#home-page #skills .content-container .icon-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 50px;
}
#home-page #skills .content-container .icon-container .icon {
  text-align: center;
}
#home-page #skills .content-container .icon-container .icon i {
  font-size: 4rem;
  color: var(--icon-color);
}
#home-page #skills .content-container .icon-container .icon p {
  font-size: 1rem;
}
@media only screen and (max-width: 814px) {
  #home-page #skills .content-container {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    background-color: var(--themed-background-color);
    justify-items: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  #home-page #skills .content-container .header-right {
    width: 90%;
    background: none;
    margin: 3rem auto 1.5rem auto;
    padding: 0;
    box-sizing: border-box;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--main-background-color);
  }
  #home-page #skills .content-container .icon-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(1rem, 1fr));
    width: 85%;
  }
  #home-page #skills .content-container .icon-container .icon {
    text-align: center;
  }
  #home-page #skills .content-container .icon-container .icon i {
    font-size: max(8vw, 55px);
    color: var(--icon-color);
  }
  #home-page #skills .content-container .icon-container .icon p {
    font-size: 100%;
  }
}

#blog-page body {
  max-width: 1000px;
  padding: 0 1.5rem;
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  font-weight: bold;
  background-color: #1d1a1a;
}
#blog-page header h1 {
  font-family: "Fredericka the Great";
  padding: 5rem 0 3rem;
  color: white;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
  #blog-page header h1 {
    font-size: 6.4vw;
  }
}
#blog-page header .blog-post-title {
  text-align: start;
  color: #c9ae78;
  padding-bottom: 0.2rem;
}
#blog-page header .blog-post-title + time {
  margin-bottom: 2rem;
}
#blog-page header div.blog-purpose-container {
  border-radius: 4px;
  border: solid #c9ae78 2px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blog-page header div.blog-purpose-container p {
  width: 88%;
  min-width: 300px;
  text-align: center;
  line-height: 1.5rem;
}
#blog-page header div.blog-purpose-container p span {
  padding-top: 1rem;
  display: block;
}
#blog-page section {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  position: relative;
}
#blog-page section main {
  width: calc(100% - 8rem);
  float: left;
}
#blog-page section main code {
  background: #3b3b3b;
  display: block;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}
#blog-page section main h2 {
  color: #e0840b;
  margin-top: 2rem;
}
#blog-page section main article {
  background-color: #2b2b2b;
  border-radius: 4px;
  margin: 0 1.5rem 1.5rem 0;
  padding: 1rem;
}
#blog-page section main article a:link, #blog-page section main article a:visited, #blog-page section main article a:active {
  font-size: 1.3rem;
  text-decoration: none;
}
#blog-page section main article a:link, #blog-page section main article a:visited, #blog-page section main article a:hover, #blog-page section main article a:active {
  color: white;
  cursor: pointer;
}
#blog-page section main article header {
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #dedede;
  padding: 0.6rem;
  text-align: right;
  color: white;
}
#blog-page section main article header hr {
  border-top: 1px solid #dedede;
}
#blog-page section main article header time {
  font-size: 0.8rem;
  text-align: right;
  color: #c9ae78;
}
#blog-page section main article header:hover {
  background-color: rgba(0, 0, 0, 0.623);
  border-color: white;
  color: #c37878;
}
#blog-page section main article p {
  height: 5rem;
  margin-top: 1rem;
  min-height: 5rem;
  height: auto;
}
#blog-page section main article:nth-of-type(even) {
  background-color: #000000;
}
#blog-page section nav {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 1.5rem;
  left: 0;
}
#blog-page section nav .btn {
  font-family: "Unica One", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  height: 8rem;
  width: 8rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
#blog-page section nav .btn:not(.design) {
  cursor: pointer;
}
#blog-page section nav .btn.back-to-main {
  color: #ff6600;
  border: solid 2px #c9ae78;
  text-decoration: none;
}
#blog-page section nav .btn.back-to-main:hover {
  color: black;
  background-color: #c9ae78;
}
#blog-page section nav .btn.see-other-blogs {
  height: auto;
  color: #ff6600;
  text-decoration: none;
  margin-bottom: 3rem;
}
#blog-page section nav .btn.see-other-blogs:hover {
  color: white;
}
#blog-page section nav .btn.back-to-top {
  position: relative;
  left: 0.1rem;
  background: none;
  color: #c9ae78;
  height: auto;
  transition: opacity;
}
#blog-page section nav .btn.back-to-top.hide {
  display: none;
}
#blog-page section nav .btn.back-to-top:hover {
  color: white;
}
#blog-page footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #923737;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
#blog-page footer .design {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
}
@media only screen and (max-width: 620px) {
  #blog-page body {
    padding: 1rem;
  }
  #blog-page header h1 {
    padding: 2rem 0;
    font-size: 7vw;
  }
  #blog-page header div.blog-purpose-container {
    max-width: 100%;
    margin: 0;
  }
  #blog-page header div.blog-purpose-container p {
    width: 100%;
    min-width: 200px;
    text-align: center;
    line-height: 1.5rem;
  }
  #blog-page header div.blog-purpose-container p span {
    padding-top: 1rem;
    display: block;
  }
  #blog-page section main {
    width: calc(100% - 8rem);
    float: left;
  }
  #blog-page section main article {
    margin: 0 1rem 1rem 0;
    padding: 1rem;
  }
  #blog-page section main article header {
    padding: 0.6rem;
  }
  #blog-page section main article p {
    height: 5rem;
    margin-top: 1rem;
    min-height: 5rem;
    height: auto;
  }
  #blog-page section nav .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    height: 8rem;
    width: 8rem;
    border-radius: 10px;
  }
}

.stopScroll {
  overflow: hidden;
}

#home-page .wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
