---
layout: blog-base.njk
pagination:
  data: collections.post
  size: 10
  reverse: false
  alias: posts
---

{% for post in posts %}
  <article>
    <header><a href="{{ post.url | url }}" aria-label="Read more on {{ post.data.title }}">{{ post.data.title }}</a><hr><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></header>
      {% excerpt post %}
  </article>
{% endfor %}