---
layout: blog-base.njk
pagination:
  data: collections.post
  size: 10
  reverse: false
  alias: posts
---

{% for post in posts %}
  <article>
    <a href="{{ post.url | url }}" aria-label="Read more on {{ post.data.title }}"><header>{{ post.data.title }}<hr><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></header></a>
      {% excerpt post %}
  </article>
{% endfor %}