---
layout: main-layout.njk
---

{# Hello world! My name is Anna Chowattanakul. I am a web developer who loves to make beautiful and accessible websites for everybody! 
I studied Full Stack Web Development at Codeboxx in the beginning of 2020, and graciously found myself working there as a full-time web developer for over 6 months 
on an ecommerce website, luckybrand.com (fashion industry). If you're a fan of online shopping, be sure to stop by and check out their clothes.

<br>
<br>

Many people know me as a pianist. In fact, I have a Masters degree in piano performance. My dreams and goals were to travel around the world, jam with 
other musicians, compose, arrange and create music that would spark joy in other people. However, with Covid 19 currently devastating the whole world, meeting up with
people has become increasingly difficult but that does not end my hopes and dreams. Actually, it opened up a new door to a new career path that is as promising and rewarding, 
not to mention super flexible! 

<br>
<br>
As a person who loves to learn and explore, programming really satisfies my inner desires to create. Since day one, I've been actively building small apps and learning to code, watching tutorials and talking to mentors for over 8 hours a day. I must say that it is one of the best jobs in the world. I love that it combines logic, creativity, communication and art to build something functional, beautiful, and hopefully useful. Every day is
filled with new concepts and challenges, which is never boring!
&#9825;

<br>
<br>
// move this paragraph to top 
While I worked on the Lucky Brand project, I picked up a new skill working with Salesforce Commerce Cloud. Some of the major works I've done included reworking product listing
pagination by turning infinite scroll to load more button, refactored CSS for parts of the site to become more responsive using flexbox and rebuilt filter functionality on desktop and mobile using jquery and javascript. Outside of work,
I also had experiences working with C# .NET Core, Ruby on Rails, Web API's and Amazon Web Services (AWS), which covered a wide variety of Full-Stack web development. However, despite my
experiences and flexibility, I personally have a strong passion for front-end web development. My aim is to focus on building accessible, beautiful and responsive websites while becoming more aware of optimized performance speed and clean code so that by the end of it all, I can use my skills to help other people communicate their ideas, their hopes and dreams through their website. #}

Hello world! My name is Anna Chowattanakul. I am a web developer who loves to make beautiful and accessible websites for everybody! I am currently working at Codeboxx as a full-time web developer for over 6 months on an ecommerce website, luckybrand.com.
My aim is to build accessible, beautiful and responsive websites with optimized performance speed and clean code to help others communicate their ideas, hopes, and dreams through their website.

<br>
<br>

While working on the Lucky Brand project, I use Salesforce Commerce Cloud extensively. Some of the major projects I've done included reworking product listing pagination by turning infinite scroll to load more button, refactored CSS for parts of the site to become more responsive using flexbox and rebuilt filter functionality on desktop and mobile using jquery and javascript. I also have experience working with C# .NET Core, Ruby on Rails, Web API's and Amazon Web Services (AWS).

{# <br>
<br>

As a person who loves to learn and explore, programming really satisfies my inner desires to create. Since day one, I've been actively building small apps and learning to code, watching tutorials and talking to mentors for over 8 hours a day. I must say that it is one of the best jobs in the world. I love that it combines logic, creativity, communication and art to build something functional, beautiful, and hopefully useful. Every day is filled with new concepts and challenges, which is never boring! ♡ #}

<br>
<br>

Outside of coding, many people know me as a pianist. 
{# In fact, I have a Master’s degree in piano performance. #}
 One day, I would love to travel around the world, jam with other musicians, compose, arrange and write an application that merges the two worlds together.